
<!--<ion-header-bar align-title="center" class="bar-dark">
     
 	 <h1 class="title title-center">Canvas</h1>  -->   
</ion-header-bar>
<ion-view cache-view="false">
	<ion-content class="splash" style ="color:white;" scroll ="false">
	Points : {{points}}
	Current location : {{currentLocation.lat}} , {{currentLocation.long}}
	compass(magnetic) : {{magneticHeading}} compass(true heading): {{trueHeading}}

	<button class="button button-positive button-clear button-full" ng-click="$root.logout()">Log out</button>
	
		<!--<div class="branding">
			<img src="img/ionic.png" alt="ERC Logo" style = "width: 90%">
			<div class="tagline">Geo Canvas</div>
			<p>Geo Canvas Application</p>	

	      	<button class="item item-icon-left item-light" ng-click='$root.logout()'>
               <i class="icon ion-android-exit"></i>            
               Logout     
            </button>
		</div>-->
		<canvas style="background-color: white;" drawing points = "points" compass = "trueHeading" myposition = "myposition"></canvas>
		<!--<canvas style="background-color: white;" drawing points = "points" bounding = "boundingBox"></canvas>-->
		
	</ion-content>
</ion-view>