
<ion-header-bar align-title="center" class="bar-dark">
     
 	 <h1 class="title title-center">Canvas</h1>     
</ion-header-bar>
<ion-view cache-view="false">
	<ion-content class="splash padding" style ="color:white;">
		<div class="branding">
			<img src="img/ionic.png" alt="ERC Logo" style = "width: 90%">
			<div class="tagline">Geo Canvas</div>
			<p>Geo Canvas Application</p>				
	      	<button class="item item-icon-left item-light" ng-click='$root.logout()'>
               <i class="icon ion-android-exit"></i>            
               Logout     
            </button> 	
		</div>
	</ion-content>
</ion-view>