
<ion-header-bar align-title="center" class="bar-dark">
 <!-- <a class="button button-clear" href="#/tab/super-admin-users">
      <i class = "ion-arrow-left-c" style = "font-size:20px;"></i>
  </a>    --> 
  <h1 class="title title-center">Sign up</h1>
 <!-- <div class="buttons">
        <button class="button button-clear" ng-show = "$root.loggedIn"
   ng-click="popover.show($event)" style="display: inline-block; font-size: 12px; line-height: 10px; padding: 5px;"><i class="ion-person" style="display: block;font-size: 16px;"></i>{{$root.username}}
        </button>
      </div>-->
</ion-header-bar>
<ion-view cache-view="false">
  <ion-content>
    <form  name = "signupForm" class="dark padding-horizontal" style = "margin-top: 40px;" ng-submit="signupForm.$valid && signup()" novalidate> 

      <!--username -->     
      <label class="item item-input semi-dark styled-item round" style = "margin-left: 0!important; margin-right: 0!important;">        
        <input  type="text" name="username" ng-model="user.name" placeholder="Nom d'usuari" required style = "color:#fff; font-size: 20px;">
      </label>
      <div class="help-block" ng-messages="signupForm.username.$error" ng-if="signupForm.username.$touched || signupForm.$submitted">
      <div class="error" ng-message="required">
            <i class="ion-information-circled"></i> 
             Username required
        </div>          
      </div>


      

      <!--password --> 
      <label class="item item-input semi-dark styled-item round" style = "margin-left: 0!important; margin-right: 0!important;">        
        <input type="number" name="telephone" ng-model="user.telephone" placeholder="Phone number"  ng-minlength="9" 
             ng-maxlength="10" required style = "color:#fff; font-size: 20px;">
      </label>
      <div class="help-block" ng-messages="signupForm.telephone.$error" ng-if="signupForm.telephone.$touched || signupForm.$submitted">
        <div class="error" ng-message="required">
            <i class="ion-information-circled"></i> 
             Phone number required
        </div> 
        <div class="error" ng-message="minlength">
            <i class="ion-information-circled"></i> 
             Phone number is too short
        </div> 
        <div class="error" ng-message="maxlength">
            <i class="ion-information-circled"></i> 
             Phone number is too long
        </div> 
             
      </div>     
      
      <button type = "submit" class="button button-block semi-dark round" style = "color:#fff; font-size: 20px;margin-top:40px;">
          Sign up
      </button>
          
    </form>
    
  </ion-content>  
</ion-view>
